@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-galeria{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 300px;
    padding: 5px;
    grid-gap: 5px;
}

.item-galeria{
    position: relative;
}

.item-galeria .img-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-galeria .title-galeria{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 16pt;
    font-family: 'Quicksand';
}


.h-1{
    grid-row: span 1;
}

.h-2{
    grid-row: span 2;
}

.w-1{
    grid-column: span 1;
}

.w-2{
    grid-column: span 2;
}


@media(max-width:768px){
    .container-galeria{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 50vh;
    }

    .h-2{
        grid-row: span 1;
    }
    
    .w-2{
        grid-column: span 1;
    }
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    background-color:rgb(251, 167, 49);

}

:root{
    --color-white: #fff;
    --color-dark1: rgb(252, 191, 7);
    --color-dark2: #2d2d2d;
    --color-dark3: #db5959;
    --color-dark4: #da0c0c;
    --color-dark5: rgb(252, 191, 7);
    --color-purple: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.logo_header{
    width: 70px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: rgb(251, 167, 49);
    justify-content: space-between;
    padding: 0 10%;
    height: 7.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-white);
}
.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header, .logo_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}



